* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inherit, sans-serif;
  padding-top: 100px;
  color:#ff3385;
}

h1 {
  margin-bottom: 10px;
  text-align: center;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #fffaf3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.186);
}

.nav-links {
  font-weight: 600;
   display: flex; 
   gap: 250px; 
   padding: 30px;
  justify-content: space-around;
}

.nav-links a {
  font-family: inherit, sans-serif;
  text-decoration: none;
  color: #ff3385;
  font-size: 20px;
}

.nav-links a:hover {
  color: #920c46;
}

.logo {
  height: 70px;
  width: auto;
  margin-right: 200px; 
}
.personajes {
  display: block;
  margin: 0 auto; 
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 2px 0px 38px 20px rgba(255, 216, 240, 0.25);
}

.productes {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px; 
}
  
.social-icons {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  margin-top: 10px;
  height: calc(var(--box) * 4 + 40px); 
  padding: 10px;
}
.social-icons a {
  font-family: inherit, sans-serif;
  text-decoration: none;
  color: #ff3385;
  font-size: 20px;
}

.social-icons a:hover {
  color: #920c46;
}

footer {
  background-color: #ffd7f0;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: -2px -14px 28px 7px rgba(0, 0, 0, 0.07);
}
  


