* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inherit, sans-serif;
  padding-top: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #fffaf3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-links {
   display: flex; 
   gap: 250px; 
   padding: 30px;
  justify-content: space-around;
}

.logo {
  height: 70px;
  width: auto;
  margin-right: 200px; 
}




